<h2>Edit Person</h2>
<%= form_with  model: @person do |form| %>
    <div  class="mb-3">
        <%= form.label :name , class: 'form-label'%>
        <%= form.text_field :name  , class: 'form-control' %>
    </div>
    <div class="mb-3">
        <%= form.label :parent , class: 'form-label'%>
        <%= form.text_field :parent , class: 'form-control' %>
    </div>
    <div class="mb-3">
            <%= form.submit "Edit", class: 'btn btn-primary' %>
            <%= link_to "back", person_path(@person) ,class: 'btn btn-primary' %>
    </div>
<% end %>